USE [master]
GO
/****** Object:  Database [QLDT_DW]    Script Date: 12/09/2021 12:31:28 CH ******/
CREATE DATABASE [QLDT_DW]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLDT_DW', FILENAME = N'D:\Programfile\MSSQL11.MSSQLSERVER\MSSQL\DATA\QLDT_DW.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLDT_DW_log', FILENAME = N'D:\Programfile\MSSQL11.MSSQLSERVER\MSSQL\DATA\QLDT_DW_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLDT_DW].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLDT_DW]
GO
/****** Object:  User [NT AUTHORITY\SYSTEM]    Script Date: 12/09/2021 12:31:28 CH ******/
CREATE USER [NT AUTHORITY\SYSTEM] FOR LOGIN [NT AUTHORITY\SYSTEM] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [DESKTOP-0G8H13M\trung]    Script Date: 12/09/2021 12:31:28 CH ******/
CREATE USER [DESKTOP-0G8H13M\trung] FOR LOGIN [DESKTOP-0G8H13M\trung] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [NT AUTHORITY\SYSTEM]
GO
/****** Object:  StoredProcedure [dbo].[spthemCH_check_constraint]    Script Date: 12/09/2021 12:31:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[spthemCH_check_constraint] (@MACH nvarchar(255),@TENCH nvarchar(255),@DIACHI nvarchar(255),@MALOAICH char (255))
as 
begin 
	if not exists (select MACH from DIM_CUAHANG where MACH=@MACH)
		Begin 
			Insert into  DIM_CUAHANG(MACH,TENCH,DIACHI,MALOAICH) values (@MACH,@TENCH,@DIACHI,@MALOAICH)
		end
end

GO
/****** Object:  StoredProcedure [dbo].[spthemDV_check_constraint]    Script Date: 12/09/2021 12:31:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[spthemDV_check_constraint] (@MADV nvarchar(255),@TENDV nvarchar(255))
as 
begin 
	if not exists (select MADV from DIM_DICHVU where MADV=@MADV)
		Begin 
			Insert into  DIM_DICHVU(MADV,TENDV) values (@MADV,@TENDV);
		end
end

GO
/****** Object:  StoredProcedure [dbo].[spthemHH_check_constraint]    Script Date: 12/09/2021 12:31:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[spthemHH_check_constraint] (@MAHH nvarchar(255),@TENHH nvarchar(255),@SOLUONG float,@DONGIA float,@MALOAIHH nvarchar(255),@DVT nvarchar (255))
as 
begin 
	if not exists (select MAHH from DIM_HANGHOA where MAHH=@MAHH)
		Begin 
			Insert into  DIM_HANGHOA(MAHH,TENHH,SOLUONG,DONGIA,MALOAIHH,DVT) values (@MAHH,@TENHH,@SOLUONG,@DONGIA,@MALOAIHH ,@DVT);
		end
end

GO
/****** Object:  StoredProcedure [dbo].[spthemKV_check_constraint]    Script Date: 12/09/2021 12:31:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[spthemKV_check_constraint] (@MAKV nvarchar(255),@TENDUONG nvarchar(255),@TENTP nvarchar(255),@TENMIEN nvarchar(255))
as 
begin 
	if not exists (select MAKV from DIM_KHUVUC where MAKV=@MAKV)
		Begin 
			Insert into  DIM_KHUVUC(MAKV,"TEN DUONG","TEN TP","TEN MIEN") values (@MAKV,@TENDUONG,@TENTP,@TENMIEN);
		end
end

GO
/****** Object:  StoredProcedure [dbo].[spthemKH_check_constraint]    Script Date: 12/09/2021 12:31:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[spthemKH_check_constraint] (@MAKH nvarchar(255),@TENKH nvarchar(255),@GIOITINH float,@NGAYSINH nvarchar(255),@SDT nvarchar(255),@GMAIL nvarchar (255),@MALOAIKH nvarchar(255),@MAKV nvarchar(255))
as 
begin 
	if not exists (select MAKH from DIM_KHACHHANG where MAKH=@MAKH)
		Begin 
			Insert into  DIM_KHACHHANG(MAKH,TENKH,GIOITINH,NGAYSINH,SDT,GMAIL,MALOAIKH,MAKV) values (@MAKH,@TENKH,@GIOITINH,@NGAYSINH,@SDT,@GMAIL,@MALOAIKH,@MAKV);
		end
end

GO
/****** Object:  StoredProcedure [dbo].[spthemLOAICH_check_constraint]    Script Date: 12/09/2021 12:31:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[spthemLOAICH_check_constraint] (@MALCH nvarchar(255),@TENLCH nvarchar(255))
as 
begin 
	if not exists (select MALCH from DIM_LOAICH where MALCH=@MALCH)
		Begin 
			Insert into  DIM_LOAICH(MALCH,TENLCH) values (@MALCH,@TENLCH);
		end
end

GO
/****** Object:  StoredProcedure [dbo].[spthemLOAIHH_check_constraint]    Script Date: 12/09/2021 12:31:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[spthemLOAIHH_check_constraint] (@MALHH nvarchar(255),@TENLHH nvarchar(255))
as 
begin 
	if not exists (select MALOAIHH from DIM_LOAIHH where MALOAIHH=@MALHH)
		Begin 
			Insert into  DIM_LOAIHH(MALOAIHH,TENLOAI) values (@MALHH,@TENLHH);
		end
end

GO
/****** Object:  StoredProcedure [dbo].[spthemLOAIKH_check_constraint]    Script Date: 12/09/2021 12:31:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[spthemLOAIKH_check_constraint] (@MALKH nvarchar(255),@TENLKH nvarchar(255),@GIAMGIA float)
as 
begin 
	if not exists (select MALOAIKH from DIM_LOAIKH where MALOAIKH=@MALKH)
		Begin 
			Insert into  DIM_LOAIKH(MALOAIKH,TENLOAI,GIAMGIA) values (@MALKH,@TENLKH,@GIAMGIA);
		end
end

GO
/****** Object:  Table [dbo].[DIM_CUAHANG]    Script Date: 12/09/2021 12:31:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_CUAHANG](
	[MACH] [nvarchar](255) NOT NULL,
	[TENCH] [nvarchar](255) NULL,
	[DIACHI] [nvarchar](255) NULL,
	[MALOAICH] [nvarchar](255) NULL,
 CONSTRAINT [PK_DIM_CUAHANG] PRIMARY KEY CLUSTERED 
(
	[MACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DIM_DATE]    Script Date: 12/09/2021 12:31:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_DATE](
	[NGAYLAPHD] [datetime] NULL,
	[day] [float] NULL,
	[month] [float] NULL,
	[year] [float] NULL,
	[date of week] [float] NULL,
	[quarter] [float] NULL,
	[id_date] [int] NOT NULL,
 CONSTRAINT [PK_DIM_DATE] PRIMARY KEY CLUSTERED 
(
	[id_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DIM_DICHVU]    Script Date: 12/09/2021 12:31:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_DICHVU](
	[MADV] [nvarchar](255) NOT NULL,
	[TENDV] [nvarchar](255) NULL,
 CONSTRAINT [PK_DIM_DICHVU] PRIMARY KEY CLUSTERED 
(
	[MADV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DIM_HANGHOA]    Script Date: 12/09/2021 12:31:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_HANGHOA](
	[MAHH] [nvarchar](255) NOT NULL,
	[TENHH] [nvarchar](255) NULL,
	[SOLUONG] [float] NULL,
	[DONGIA] [float] NULL,
	[MALOAIHH] [nvarchar](255) NULL,
	[DVT] [nvarchar](255) NULL,
 CONSTRAINT [PK_DIM_HANGHOA] PRIMARY KEY CLUSTERED 
(
	[MAHH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DIM_KHACHHANG]    Script Date: 12/09/2021 12:31:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_KHACHHANG](
	[MAKH] [nvarchar](255) NOT NULL,
	[TENKH] [nvarchar](255) NULL,
	[GIOITINH] [float] NULL,
	[NGAYSINH] [nvarchar](255) NULL,
	[SDT] [nvarchar](255) NULL,
	[GMAIL] [nvarchar](255) NULL,
	[MALOAIKH] [nvarchar](255) NULL,
	[MAKV] [nvarchar](255) NULL,
 CONSTRAINT [PK_DIM_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DIM_KHUVUC]    Script Date: 12/09/2021 12:31:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_KHUVUC](
	[MAKV] [nvarchar](255) NOT NULL,
	[TEN DUONG] [nvarchar](255) NULL,
	[TEN TP] [nvarchar](255) NULL,
	[TEN MIEN] [nvarchar](255) NULL,
 CONSTRAINT [PK_DIM_KHUVUC] PRIMARY KEY CLUSTERED 
(
	[MAKV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DIM_LOAICH]    Script Date: 12/09/2021 12:31:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_LOAICH](
	[MALCH] [nvarchar](255) NOT NULL,
	[TENLCH] [nvarchar](255) NULL,
 CONSTRAINT [PK_DIM_LOAICH] PRIMARY KEY CLUSTERED 
(
	[MALCH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DIM_LOAIHH]    Script Date: 12/09/2021 12:31:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_LOAIHH](
	[MALOAIHH] [nvarchar](255) NOT NULL,
	[TENLOAI] [nvarchar](255) NULL,
 CONSTRAINT [PK_DIM_LOAIHH] PRIMARY KEY CLUSTERED 
(
	[MALOAIHH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DIM_LOAIKH]    Script Date: 12/09/2021 12:31:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_LOAIKH](
	[MALOAIKH] [nvarchar](255) NOT NULL,
	[TENLOAI] [nvarchar](255) NULL,
	[GIAMGIA] [float] NULL,
 CONSTRAINT [PK_DIM_LOAIKH] PRIMARY KEY CLUSTERED 
(
	[MALOAIKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FACT]    Script Date: 12/09/2021 12:31:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACT](
	[NGAYLAPHD] [datetime] NULL,
	[MACH] [nvarchar](255) NOT NULL,
	[MAKH] [nvarchar](255) NOT NULL,
	[MADV] [nvarchar](255) NOT NULL,
	[MAHH] [nvarchar](255) NOT NULL,
	[SOLUONG] [float] NULL,
	[DoanhThu] [float] NULL,
	[id_date] [int] NULL
) ON [PRIMARY]

GO
INSERT [dbo].[DIM_CUAHANG] ([MACH], [TENCH], [DIACHI], [MALOAICH]) VALUES (N'CH001', N'Cửa hàng thứ 1', N'Địa chỉ A', N'LCH01')
INSERT [dbo].[DIM_CUAHANG] ([MACH], [TENCH], [DIACHI], [MALOAICH]) VALUES (N'CH002', N'Cửa hàng thứ 2', N'Địa chỉ B', N'LCH02')
INSERT [dbo].[DIM_DATE] ([NGAYLAPHD], [day], [month], [year], [date of week], [quarter], [id_date]) VALUES (CAST(N'2020-01-22 00:00:00.000' AS DateTime), 22, 1, 2020, 4, 1, 1)
INSERT [dbo].[DIM_DATE] ([NGAYLAPHD], [day], [month], [year], [date of week], [quarter], [id_date]) VALUES (CAST(N'2020-02-25 00:00:00.000' AS DateTime), 25, 2, 2020, 3, 1, 2)
INSERT [dbo].[DIM_DATE] ([NGAYLAPHD], [day], [month], [year], [date of week], [quarter], [id_date]) VALUES (CAST(N'2020-03-22 00:00:00.000' AS DateTime), 22, 3, 2020, 1, 1, 3)
INSERT [dbo].[DIM_DICHVU] ([MADV], [TENDV]) VALUES (N'DV001', N'Trang trí sinh nhật')
INSERT [dbo].[DIM_DICHVU] ([MADV], [TENDV]) VALUES (N'DV002', N'Trang trí Tân gia')
INSERT [dbo].[DIM_DICHVU] ([MADV], [TENDV]) VALUES (N'DV003', N'Trang trí đám tang')
INSERT [dbo].[DIM_HANGHOA] ([MAHH], [TENHH], [SOLUONG], [DONGIA], [MALOAIHH], [DVT]) VALUES (N'HH001', N'Bàn', 200, 20000, N'ML003', N'Cái')
INSERT [dbo].[DIM_HANGHOA] ([MAHH], [TENHH], [SOLUONG], [DONGIA], [MALOAIHH], [DVT]) VALUES (N'HH002', N'Ghế', 250, 10000, N'ML003', N'Cái')
INSERT [dbo].[DIM_HANGHOA] ([MAHH], [TENHH], [SOLUONG], [DONGIA], [MALOAIHH], [DVT]) VALUES (N'HH003', N'Chén', 200, 20000, N'ML003', N'Cái')
INSERT [dbo].[DIM_KHACHHANG] ([MAKH], [TENKH], [GIOITINH], [NGAYSINH], [SDT], [GMAIL], [MALOAIKH], [MAKV]) VALUES (N'KH001', N'Nguyễn Văn A', 1, N'1989-02-20 00:00:00', N'0230xxx', N'van1@gmail.com', N'LK003', N'KV001')
INSERT [dbo].[DIM_KHACHHANG] ([MAKH], [TENKH], [GIOITINH], [NGAYSINH], [SDT], [GMAIL], [MALOAIKH], [MAKV]) VALUES (N'KH002', N'Nguyễn Văn B', 1, N'1889-01-20 00:00:00', N'0230xxx', N'van2@gmail.com', N'LK001', N'KV002')
INSERT [dbo].[DIM_KHACHHANG] ([MAKH], [TENKH], [GIOITINH], [NGAYSINH], [SDT], [GMAIL], [MALOAIKH], [MAKV]) VALUES (N'KH003', N'Nguyễn Toàn ', 1, N'1989-03-14 00:00:00', N'0230xxx', N'vantoan@gmail.com', N'LK002', N'KV003')
INSERT [dbo].[DIM_KHUVUC] ([MAKV], [TEN DUONG], [TEN TP], [TEN MIEN]) VALUES (N'KV001', N'Thanh thai', N'HCM', N'NAM')
INSERT [dbo].[DIM_KHUVUC] ([MAKV], [TEN DUONG], [TEN TP], [TEN MIEN]) VALUES (N'KV002', N'Cau giay', N'HA NOI', N'BAC')
INSERT [dbo].[DIM_KHUVUC] ([MAKV], [TEN DUONG], [TEN TP], [TEN MIEN]) VALUES (N'KV003', N'Duong gan vung tau', N'VUNG TAU', N'NAM')
INSERT [dbo].[DIM_LOAICH] ([MALCH], [TENLCH]) VALUES (N'LCH01', N'Cửa hàng chính')
INSERT [dbo].[DIM_LOAICH] ([MALCH], [TENLCH]) VALUES (N'LCH02', N'Cửa hàng phụ')
INSERT [dbo].[DIM_LOAIHH] ([MALOAIHH], [TENLOAI]) VALUES (N'ML001', N'Thức Ăn')
INSERT [dbo].[DIM_LOAIHH] ([MALOAIHH], [TENLOAI]) VALUES (N'ML002', N'Nước uống')
INSERT [dbo].[DIM_LOAIHH] ([MALOAIHH], [TENLOAI]) VALUES (N'ML003', N'Hàng gia dụng')
INSERT [dbo].[DIM_LOAIKH] ([MALOAIKH], [TENLOAI], [GIAMGIA]) VALUES (N'LK001', N'Thân thiết', 0.1)
INSERT [dbo].[DIM_LOAIKH] ([MALOAIKH], [TENLOAI], [GIAMGIA]) VALUES (N'LK002', N'Lâu năm', 0.2)
INSERT [dbo].[DIM_LOAIKH] ([MALOAIKH], [TENLOAI], [GIAMGIA]) VALUES (N'LK003', N'Mới đăng ký', 0)
INSERT [dbo].[FACT] ([NGAYLAPHD], [MACH], [MAKH], [MADV], [MAHH], [SOLUONG], [DoanhThu], [id_date]) VALUES (CAST(N'2020-01-22 00:00:00.000' AS DateTime), N'CH001', N'KH001', N'DV001', N'HH001', 20, 200000, 1)
INSERT [dbo].[FACT] ([NGAYLAPHD], [MACH], [MAKH], [MADV], [MAHH], [SOLUONG], [DoanhThu], [id_date]) VALUES (CAST(N'2020-01-22 00:00:00.000' AS DateTime), N'CH001', N'KH001', N'DV001', N'HH002', 10, 200000, 1)
INSERT [dbo].[FACT] ([NGAYLAPHD], [MACH], [MAKH], [MADV], [MAHH], [SOLUONG], [DoanhThu], [id_date]) VALUES (CAST(N'2020-01-22 00:00:00.000' AS DateTime), N'CH001', N'KH001', N'DV001', N'HH003', 30, 300000, 1)
ALTER TABLE [dbo].[DIM_CUAHANG]  WITH CHECK ADD  CONSTRAINT [fk_CUAHANG_LOAICH] FOREIGN KEY([MALOAICH])
REFERENCES [dbo].[DIM_LOAICH] ([MALCH])
GO
ALTER TABLE [dbo].[DIM_CUAHANG] CHECK CONSTRAINT [fk_CUAHANG_LOAICH]
GO
ALTER TABLE [dbo].[DIM_HANGHOA]  WITH CHECK ADD  CONSTRAINT [fk_hh_loaiHH] FOREIGN KEY([MALOAIHH])
REFERENCES [dbo].[DIM_LOAIHH] ([MALOAIHH])
GO
ALTER TABLE [dbo].[DIM_HANGHOA] CHECK CONSTRAINT [fk_hh_loaiHH]
GO
ALTER TABLE [dbo].[DIM_KHACHHANG]  WITH CHECK ADD  CONSTRAINT [fk_KH_KV] FOREIGN KEY([MAKV])
REFERENCES [dbo].[DIM_KHUVUC] ([MAKV])
GO
ALTER TABLE [dbo].[DIM_KHACHHANG] CHECK CONSTRAINT [fk_KH_KV]
GO
ALTER TABLE [dbo].[DIM_KHACHHANG]  WITH CHECK ADD  CONSTRAINT [fk_KH_loaikh] FOREIGN KEY([MALOAIKH])
REFERENCES [dbo].[DIM_LOAIKH] ([MALOAIKH])
GO
ALTER TABLE [dbo].[DIM_KHACHHANG] CHECK CONSTRAINT [fk_KH_loaikh]
GO
ALTER TABLE [dbo].[FACT]  WITH CHECK ADD  CONSTRAINT [fk_fact_cuahang] FOREIGN KEY([MACH])
REFERENCES [dbo].[DIM_CUAHANG] ([MACH])
GO
ALTER TABLE [dbo].[FACT] CHECK CONSTRAINT [fk_fact_cuahang]
GO
ALTER TABLE [dbo].[FACT]  WITH CHECK ADD  CONSTRAINT [fk_fact_date] FOREIGN KEY([id_date])
REFERENCES [dbo].[DIM_DATE] ([id_date])
GO
ALTER TABLE [dbo].[FACT] CHECK CONSTRAINT [fk_fact_date]
GO
ALTER TABLE [dbo].[FACT]  WITH CHECK ADD  CONSTRAINT [fk_fact_DichVU] FOREIGN KEY([MADV])
REFERENCES [dbo].[DIM_DICHVU] ([MADV])
GO
ALTER TABLE [dbo].[FACT] CHECK CONSTRAINT [fk_fact_DichVU]
GO
ALTER TABLE [dbo].[FACT]  WITH CHECK ADD  CONSTRAINT [fk_fact_Hanghoa] FOREIGN KEY([MAHH])
REFERENCES [dbo].[DIM_HANGHOA] ([MAHH])
GO
ALTER TABLE [dbo].[FACT] CHECK CONSTRAINT [fk_fact_Hanghoa]
GO
ALTER TABLE [dbo].[FACT]  WITH CHECK ADD  CONSTRAINT [fk_fact_KH] FOREIGN KEY([MAKH])
REFERENCES [dbo].[DIM_KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[FACT] CHECK CONSTRAINT [fk_fact_KH]
GO
USE [master]
GO
